<div class="form">
    <form action="" method="post">
        <h2>Add movie</h2>
        <label for="name">Title:</label>
        <input type="text" id="name" name="name">
        <label for="name">Image:</label>
        <input type="text" id="imageUrl" name="imageUrl">
        <input type="submit" value="Add your movie now" id="add">
    </form>
</div>