<div class="movie-details">
    <h2>{{movie.name}}</h2>
    <div>
        <img src="{{movie.imageUrl}}" alt="">
    </div>
    <div class="description">
        {{movie.description}}
    </div>
</div>